* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: #e5e5e5; */
    overflow-x: hidden;
}

.db-note-name {
  font-family: "Gruppo", cursive;
  font-size: 36px;
}

#search-bar {
    background: transparent;
    border: 0;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    padding: 2px;
    position: relative;
    transition: width 600ms cubic-bezier(0.18, 0.89, 0.32, 1.15);
}

#search-bar:focus-within {
    width: 600px;
    background: #e5e5e5;
}

#search-bar_input {
    border: 0;
    background: transparent;  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: 40px;
    padding: 0 3rem;
    cursor: pointer;
    width: calc(600px - 40px);
    transition: padding 150ms ease-in-out;
}

#search-bar_input:focus {
    outline: 0;
}

#search-bar:focus-within #search-bar_input {
    cursor: initial;
    padding: 0 1rem;
}

#search-bar_submit {
    background: transparent;
    font-size: 1.5rem;
    border: 0;
    border-radius: 50%;
    height: calc(40px - 5px);
    width:  calc(40px - 5px);
    margin-left: auto;  
    color: #e5e5e5;
}

#search-bar:focus-within #search-bar_submit {
    color: #000;
}

#search-bar:focus-within #search-bar_submit:focus,
#search-bar:focus-within #search-bar_submit:hover {
    outline: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.db-menu,
.db-view {
  background-color: #f7fbfd;
}

.db-menu li {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  color: #c4c4c4;
}

.db-menu .con {
  font-family: Roboto;
  font-size: 12px;
  background-color: #c4c4c4;
  color: #fff;
  border-radius: 50%;
}

/* create note styles */

#createNote-modal {
    font-family: 'Roboto';
}

.createNote .form-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
}

.createNote .form-control {
    background: rgba(196, 196, 196, 0.05);
    border: 1px solid rgba(222, 223, 236, 1);
    font-weight: 400px;
    font-size: 14px;
    line-height: 16.41px;
}

.createNote #noteTitle,
.createNote #noteTag {
    height: 46px;
}

.createNote-btn {
    font-weight: 400px;
    font-size: 16px;
    line-height: 18.75px;
    padding: 14px 47px;
}


/* ********************** */

.dlt-body {
  margin-top: 50%;
  margin-bottom: 50%;
  width: 350px;
}

/* .edit-body {
    margin-top: 15%;
    margin-bottom: 15%;
    width: 400px;
} */

.dlt-body p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.cancel {
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
}

.del {
    color: #F13843;
    background: rgba(241, 56, 67, 0.2);
}