body {
  background-color: #e5e5e5;
  font-family: "Roboto";
}

.note__name {
  font-family: "Gruppo", cursive;
  font-size: 40px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  line-height: 65.37px;
  font-size: 48px;
}

ul {
  list-style-type: none;
}

.vector {
  font-family: "wide font";
  font-size: 20px;
}

.ab__link {
  text-decoration: none;
  color: #fff;
}

.ab__link:hover {
  color: #fff;
  background-color: #0a58ca;
}

.login {
  background: #0d6efd;
  border: none;
  padding: 6px 8px 6px 20px;
  border-radius: 20px 0px 0px 20px;
  margin: -5px;
}

.signup {
  background: #0d6efd;
  border: none;
  padding: 6px 20px 6px 8px;
  border-radius: 0px 20px 20px 0px;
}

.ellipse {
  height: 220px;
  width: 237px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.font__14 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.roboto__400 {
  font-family: Roboto;
  font-weight: 400;
}

.roboto__500 {
  font-family: Roboto;
  font-weight: 500;
}

#logInModal h2,
#signUpModal h2 {
  font-size: 36px;
  font-family: "Gruppo", cursive;
}

#logInModal p,
#signUpModal p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  color: #000;
}

.google-btn {
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.05);
  border: 1.5px solid #356dfb;
  font-size: 16px;
}

input {
  margin-bottom: 15px;
  height: 42px;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
}

.signup-btn {
  font-family: "Roboto";
  font-weight: 400;
  border-radius: 30px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 786px) {
  body {
    background-color: #000;
    background-image: url(../media/images/mobile\ background.jpg);
    height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
  }

  .note__name {
    font-size: 32px;
    color: #fff;
  }

  .action__button {
    float: right;
  }

  .images {
    display: none;
  }

  .login,
  .signup {
    background-color: inherit;
    border-radius: 0;
    color: #e5e5e5;
    font-family: "Open Sans", sans-serif;
  }

  h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .white {
    color: #fff;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}
